@import url("https://fonts.googleapis.com/css2?family=K2D:wght@100;300&display=swap");
 
body {
    margin: 0;
    padding: 0;
    background: #cacaca96;
    font-family: "K2D", sans-serif;
    background: linear-gradient( rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.555)), url(./../img/background.jpg);
    background-size: cover;
    background-position: center;
}

header {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    color: #fff;
    flex-direction:column;
}

.header-info {
    /* border: 1px solid red; */
    text-align: center;
    justify-content: center;
    align-items: center;
}

.box {
    border: 1px solid rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    background-color: #1d1d1dcb;
    border-radius: 15px;
    box-shadow: 1px 1px 9px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 9px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 9px 3px rgba(0,0,0,0.75);
}

.font1 {
    /* border: 1px solid red; */
    font-size: 4.5rem;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000000e1, 1px -1px 0 #000000e1, -1px 1px 0 #000000e1, 1px 1px 0 #000000e1;
    margin: 10px 20px 0 20px;
}

.font2 {
    /* border: 1px solid red; */
    font-size: 1.8rem;
    text-shadow: -1px -1px 0 #000000e1, 1px -1px 0 #000000e1, -1px 1px 0 #000000e1, 1px 1px 0 #000000e1;
}

.font3 {
    /* border: 1px solid red; */
    font-size: 1.2rem;
    margin: 10px 0 20px 0;
    color: rgba(255, 255, 255, 0.495);
    text-shadow: -1px -1px 0 #000000e1, 1px -1px 0 #000000e1, -1px 1px 0 #000000e1, 1px 1px 0 #000000e1;
}

.button {
    margin-top: 1rem;
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #ff0000;
    font-family: "K2D", sans-serif;
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-shadow: -1px -1px 0 #000000e1, 1px -1px 0 #000000e1, -1px 1px 0 #000000e1, 1px 1px 0 #000000e1;
  }
  
  .button:hover,
  .button:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;

  }
  
  .button:active {
    background: var(--color);
    color: #fff;
  }

@media screen and (max-width: 650px) {
    .social-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .font1 {
        font-size: 2.5rem;
        font-weight: bold;
        text-shadow: -1px -1px 0 #000000e1, 1px -1px 0 #000000e1, -1px 1px 0 #000000e1, 1px 1px 0 #000000e1;
    }

    .font2 {
        /* border: 1px solid red; */
        font-size: 1.2rem;
        text-shadow: -1px -1px 0 #000000e1, 1px -1px 0 #000000e1, -1px 1px 0 #000000e1, 1px 1px 0 #000000e1;
    }
    
    .font3 {
        /* border: 1px solid red; */
        font-size: 1rem;
        margin-top: 0.5rem;
        text-shadow: -1px -1px 0 #000000e1, 1px -1px 0 #000000e1, -1px 1px 0 #000000e1, 1px 1px 0 #000000e1;
    }
}

@media screen and (max-width: 400px) {
    .font1 {
        font-size: 2rem;
        font-weight: bold;
        text-shadow: -1px -1px 0 #000000e1, 1px -1px 0 #000000e1, -1px 1px 0 #000000e1, 1px 1px 0 #000000e1;
    }
    
    .font2 {
        font-size: 1rem;
        text-shadow: -1px -1px 0 #000000e1, 1px -1px 0 #000000e1, -1px 1px 0 #000000e1, 1px 1px 0 #000000e1;
    }

    footer p {
        /* border: 1px solid red; */
        text-align: center;
        font-size: .8rem;
        color: rgba(255, 255, 255, 0.495);
        text-shadow: -1px -1px 0 #000000e1, 1px -1px 0 #000000e1, -1px 1px 0 #000000e1, 1px 1px 0 #000000e1;
        
    }
}

.loader {
    margin-bottom: 24vh;
    position: relative;
    width: 108px;
    display: flex;
    justify-content: space-between;
  }
  .loader::after , .loader::before  {
    content: '';
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: #FFF;
    background-image:  radial-gradient(circle 14px, #0d161b 100%, transparent 0);
    background-repeat: no-repeat;
    border-radius: 50%;
    animation: eyeMove 10s infinite , blink 10s infinite;
  }
  @keyframes eyeMove {
    0%  , 10% {     background-position: 0px 0px}
    13%  , 40% {     background-position: -15px 0px}
    43%  , 70% {     background-position: 15px 0px}
    73%  , 90% {     background-position: 0px 15px}
    93%  , 100% {     background-position: 0px 0px}
  }
  @keyframes blink {
    0%  , 10% , 12% , 20%, 22%, 40%, 42% , 60%, 62%,  70%, 72% , 90%, 92%, 98% , 100%
    { height: 48px}
    11% , 21% ,41% , 61% , 71% , 91% , 99%
    { height: 18px}
  }