@import url("https://fonts.googleapis.com/css2?family=K2D:wght@100;300&display=swap");
 
body {
    margin: 0;
    padding: 0;
    background: #cacaca96;
    font-family: "K2D", sans-serif;
    background: linear-gradient( rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.555)), url(./../img/background.jpg);
    background-size: cover;
    background-position: center;
}

header {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    color: #fff;
    flex-direction:column;
}

.header-info {
    /* border: 1px solid red; */
    text-align: center;
    justify-content: center;
    align-items: center;
}

.font1 {
    /* border: 1px solid red; */
    font-size: 4.5rem;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000000e1, 1px -1px 0 #000000e1, -1px 1px 0 #000000e1, 1px 1px 0 #000000e1;
}

.font2 {
    /* border: 1px solid red; */
    font-size: 1.2rem;
    text-shadow: -1px -1px 0 #000000e1, 1px -1px 0 #000000e1, -1px 1px 0 #000000e1, 1px 1px 0 #000000e1;
}

.font3 {
    /* border: 1px solid red; */
    font-size: 1rem;
    margin-top: 0.5rem;
    text-shadow: -1px -1px 0 #000000e1, 1px -1px 0 #000000e1, -1px 1px 0 #000000e1, 1px 1px 0 #000000e1;
}

.btn-group .button {
  margin-top: 1.2rem;
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

.btn-group .button:hover {
  background-color: #3e8e41;
}

.social {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-items {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 40vh;
    width: 100vw;
    height: 40vh;
    background: #e2e2e2ec;
    box-shadow: 0px 0px 0px 1px rgb(0, 0, 0),0 0 18px 0 rgba(0, 0, 0, 0.75) inset;
    /* border-radius:15px; */
}

.social-items-frame {
    /* border: 1px solid red; */
    padding: 1rem;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-items img {
    /* border: 1px solid red; */
    height: calc(.5vw + 8vh + .5vmin);
}

footer {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 6vh;
    width: 100vw;
    height: 6vh;
}

footer p {
    /* border: 1px solid red; */
    text-align: center;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.495);
    text-shadow: -1px -1px 0 #000000e1, 1px -1px 0 #000000e1, -1px 1px 0 #000000e1, 1px 1px 0 #000000e1;
    
}

.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
    /* border: 1px solid red; */
    width: 40px;
    height: 40px;
    top: 35%;
    margin: -20px 0 0 -20px;
    transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
}
 
.arrow:before {
    content: "";
    width: 20px;
    height: 20px;
    top: 40%;
    margin: -8px 0 0 -12px;
    border-left: none;
    border-top: none;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

@media screen and (max-width: 650px) {
    .social-items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 400px) {
    .font1 {
        font-size: 3rem;
        font-weight: bold;
        text-shadow: -1px -1px 0 #000000e1, 1px -1px 0 #000000e1, -1px 1px 0 #000000e1, 1px 1px 0 #000000e1;
    }
    
    .font2 {
        font-size: 1rem;
        text-shadow: -1px -1px 0 #000000e1, 1px -1px 0 #000000e1, -1px 1px 0 #000000e1, 1px 1px 0 #000000e1;
    }

    footer p {
        /* border: 1px solid red; */
        text-align: center;
        font-size: .8rem;
        color: rgba(255, 255, 255, 0.495);
        text-shadow: -1px -1px 0 #000000e1, 1px -1px 0 #000000e1, -1px 1px 0 #000000e1, 1px 1px 0 #000000e1;
        
    }
}